<button mat-raised-button color="primary" (click)="getDistances(); showDistance=true;">距離を計算</button>
<div *ngIf="showDistance">
  <mat-form-field>
    <mat-select placeholder="絞り込み" name="filter" [(ngModel)]="selectedDistance" (change)="filterUsers($event)">
      <mat-option *ngFor="let option of distanceOptions" [value]="option.value">
        {{ option.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="table-container distance-table">
    <mat-table #table [dataSource]="distances">
      <ng-container matColumnDef="user_id">
        <mat-header-cell *matHeaderCellDef> User ID </mat-header-cell>
        <mat-cell *matCellDef="let distance"> {{distance.user_id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="user_name">
        <mat-header-cell *matHeaderCellDef> User name </mat-header-cell>
        <mat-cell *matCellDef="let distance"> {{distance.user_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="distance">
        <mat-header-cell *matHeaderCellDef> 距離(km) </mat-header-cell>
        <mat-cell *matCellDef="let distance"> {{distance.distance | number:'1.0-1'}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="['user_id','distance','user_name']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['user_id','distance','user_name'];"></mat-row>
    </mat-table>
  </div>
</div>
