<div class="container" *ngIf="state.initialized">
  <div class="row">
    <div class="col-sm-6 location-area">
      <div class="mylocation">
        <div>
          <!--<div *ngIf="show">-->
          <!--<mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>-->
          <!--<p>位置情報を取得中です....</p>-->
          <!--</div>-->
          <div class="position">
            あなたの現在位置情報:
            <span>(緯度: {{coordinates?.latitude | number:'1.0-3'}} )</span>
            <span>(経度: {{coordinates?.longitude | number:'1.0-3'}} )</span>
          </div>
        </div>
      </div>
      <div class="others-location">
        <app-others-location [state]="state"></app-others-location>
        <app-others-distance [state]="state"></app-others-distance>
      </div>
    </div>
    <div class="col-sm-6 chat-message">
      <app-chat-panel [state]="state"></app-chat-panel>
    </div>
  </div>
</div>
