<h3>近くのユーザー情報</h3>
<table border="1" class="position-table">
  <tr>
    <th>user_id </th>
    <th>latitude</th>
    <th>longitude</th>
    <th>accuracy</th>
    <th>date</th>
  </tr>
  <tr *ngFor="let position of positions; index as i; first as isFirst">
    <td>{{position?.user_id}}</td>
    <td>{{position?.coords.latitude}}</td>
    <td>{{position?.coords.longitude}}</td>
    <td>{{position?.coords.accuracy}}</td>
    <td class="date">{{position?.timestamp | date:'short'}}</td>
  </tr>
</table>
<h3>距離</h3>
<button mat-raised-button color="primary" (click)="getDistances(myPosition); showDistance=true;">距離を計算</button>
<div *ngIf="showDistance">
  <span>絞り込み</span>
  <select name="distance" id="">
    <option value="1">近い</option>
    <option value="2">中間</option>
    <option value="3">遠い</option>
  </select>
  <table border="1" class="position-table">
    <tr>
      <th>user_id </th>
      <th>あなたとの距離</th>
      <th>選択</th>
    </tr>
    <tr *ngFor="let distance of distances; index as i;">
      <td>{{distance?.user_id}}</td>
      <td>{{distance?.distance}}</td>
      <td>
        <button (click)="selected=distance">選択</button>
      </td>
    </tr>
  </table>
</div>
<div *ngIf="selected">
  <h3>選択中のユーザー</h3>
  <table border="1" class="position-table">
    <tr>
      <th>user_id </th>
      <th>あなたとの距離</th>
      <th>対象ユーザーへのアクション</th>
      <th></th>
    </tr>
    <tr>
      <td>{{selected?.user_id}}</td>
      <td>{{selected?.distance}}</td>
      <td>
        <select name="action" id="target-action">
          <option value="1">攻撃</option>
          <option value="2">呪文</option>
          <option value="3">メッセージ</option>
        </select>
      </td>
      <td>
        <button mat-raised-button color="warn">実行！</button>
      </td>
    </tr>
  </table>
</div>
